*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color: rgba(255, 47, 0, 0.695);
}

aside{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:aqua;
    margin-top: auto;
}

#ourpartner{
    text-align: center;
    font-size: 25px;
    color:rgba(255, 47, 0, 0.695)
}

.label.label-referral{
    color: rgb(165, 42, 149);
}

input[type="number"] {
    background-color: rgb(144, 190, 17);
}

/* Descendant combinators */

.form-section label {
    color: blue;
    font-weight: bold;
}

/* multiple selectors*/
input, textarea {
    background-color: lightyellow;
}

/* chaining*/
label.application-id{
    color:brown
}

/* hover*/
label:hover {
    color: rgb(0, 255, 136);
}

input:focus {
    background-color: lightblue;
    outline: none;
}

input:disabled,
input[readonly] {
    background-color: #ddd;
    color: gray;
}

#ourpartner h2,
#ourpartner a:visited {
    color: rgb(128, 128, 128 ) !important;
}


input[type="submit"]:active {
    transform: scale(0.95);
}

.form-section {
    margin: 10px auto; 
    padding: 10px; 
    width: 500px;
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    max-height: 800px;
    height:auto;
    overflow: auto;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;  
    opacity: 0.93;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.6)
}

label {
    margin-top: 10px;
    padding-left: 10px;
}

input, textarea {
    border: 2px solid gray;
    border-radius: 8px;
}

.label-referral input {
    visibility: hidden;
}

/* background image*/
body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Burger_King_2020.svg/960px-Burger_King_2020.svg.png');
    background-size: 200px 200px;
    background-color: transparent;

    ;
}

header{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    
}

footer{
    background-color: rgb(208, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    text-align: center;
    opacity: 0.9;
    font-weight: 100;
    border-radius: 8px;
}

footer p{
    opacity: 0.6;
}